:local .field {
  width: 100%;
}
:local .field label[data-shrink="true"] {
  color: #ef6c00 !important;    
}
:local .field div::after {
  border-bottom-color: #ef6c00 !important;    
}
:local .fieldsContainer {
  margin-bottom: 25px !important;
}
:local .submitBtn {
  padding: 10px 0 !important;
  width: 100%;
  background-color: #ef6c00 !important;
}